.foto {
    padding: 40px;
    width: 550px;
    height: 400px;
}

body {
    background-image: linear-gradient(330deg, #ffe7cd 0, #f9dabf 25%, #f0ccaf 50%, #e7bea0 75%, #e0b193 100%);
}

.fotomodal {
    align-items: center;
    text-align: center;
    padding-right: 50px;
    width: 500px;
    height: 400px;
}

.fotoconejo {
    padding: 40px;
    width: 400px;
    height: 300px;
}

.conejocarrusel {
    width: 550px;
    height: 550px;
}

p {
    text-align: justify;
}

.fotomodallg {
    align-items: center;
    text-align: center;
    width: 750px;
    height: 500px;
}